.home {
  background-image:url(add/foto/duncan-adler-uIFtaLA0URU-unsplash.jpg);
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;    
  background-size: cover;
  background-origin: padding-box;
  background-clip: border-box;
  min-height: 750px;
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 8px;  
}
.text{  
  text-shadow:none;
  font-weight:normal;
}
.titles{      
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 8px; 
  height: 60px;   
}

}